div.header {
	background: #000;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    
    h1 {
        text-indent: -500em;
        height: 100px;
        width: 100%;
        max-width: 800px;
        background: url(../img/banner.jpg) no-repeat;
        margin: 0 0 0 10px;
        padding:0;
    }
}

#login-block {
	/*  background-color: #d1e9d6;  */
	/*  background-color: #EEF6FF;  */
	background-color: #000000;
	color:#ffffff;
	font-size: 9pt;
	padding: 2px 8px 0 0;
	margin: 0;
    
    .form-actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 8px;
        align-items: flex-end;

        input {
            margin-bottom: 8px;
            width: 100px;
            color: #000;

            &.forgot-password {
                padding:2px;
                margin-bottom: 2px;
                font-family: Verdana, Arial, sans-serif;
                font-size: 10px;
                background-color: #000;
                border: none;
                color: #fff;
            }
        }
        
    }
}