@import "variables";
@import "menu_v2";
@import "top";

html {
	font-size: 10px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	BACKGROUND-COLOR: #EEEEEE;
	COLOR:#333333;
	FONT-FAMILY: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height:1.42857143;
}

input {
    color: #000000;
    border: 1px solid #999999;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #eeeeee;
}

TEXTAREA {
	color: #000000;
	border: 1px solid #999999;
	/*width: 100px;*/
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #eeeeee;
	padding-left: 5px;
	padding-right: 5px;
}

SELECT, OPTION {
    color: #000000;
    border: 1px solid #999999;
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #eeeeee;

}

.form {
	/*background-color: #B7CBE7; */
	background-color: #CCCCCC;
    border: 3px ridge;
    padding: 10px;
    margin: 20px 20px 20px 0px;
}
.form form {
	margin: 5px;
}

.button {
    color: #000000;
    border: 1px solid #494949;
	padding:2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #cccccc;
}

.textarea{
    color: #000000;
    border: 1px solid #494949;
	padding:2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    background-color: #eeeeee;
}

.formselect{
    color: #000000;
    border: 1px solid #494949;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    background-color: #eeeeee;
}


.formgroup {
	margin-top: 10px
}

.high {
	margin-bottom: 40px
}

.content {
    margin: 10px;
    background-color:#eeeeee;
	
}

.inline {
	display: inline;
}

div.airportInfo h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18pt;
	font-family: Arial, sans-serif;
	margin: 0px
}
div.airportInfo table td {
	padding-right: 20px
}

h2 {
	font-weight: bold;
	font-size: 14pt;
	font-family: Arial, sans-serif;
	margin: 0px;
}

h3 {
	text-decoration: none;
	font-weight: normal;
	margin-top: 0px           
}


div.airportInfo {
	margin-bottom: 15px;
}

div.infoBlock {
	background-color: #cccccc;
    border: 1px solid;
    float: right;
}

div.infoBlock a:link {color:#000066; font-weight:bold;}
div.infoBlock a:visited {color:#000066; font-weight:bold;}
div.infoBlock a:active {color:#000066; font-weight:bold;}
div.infoBlock a:hover {background-color: #ffffff; color:#ff0000; font-weight:bold;}
  
div.dataTable {
	background-color: #eeeeee;
	margin-bottom: 20px;
	display: table;
	padding: 10px;
    border: 2px outset;
    font-size:14px

}
.dataTable table {
	text-align: left;
	margin: 0px;
	padding: 0px;
	
}
.dataTable table th {
	color: black;
	background-color: silver;
	padding-right: 10px
}
.dataTable table td {
	padding-right: 10px;
	vertical-align: top;
}
.dataTable tr:nth-child(odd) {
    background-color:#cccccc;
}

.dataTable table.nopad {
	width: 100%
}
.dataTable table.nopad td {
	padding-right: 0px;
	vertical-align: top;
}
.dataTable table tbody {
	font-family: Arial, sans-serif;
}
.dataTable table a:link {
	font-family: Arial, sans-serif;
	font-style: normal;
	text-decoration: none;
	color:#000099;
}
.dataTable table a:hover {
	font-family: Arial, sans-serif;
	font-style: normal;
	text-decoration: none;
	color:#FF0000;
}
.dataTable caption
{
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: left;
    margin: 0px 0px 10px;
}
ul.footer {
	font-size: 9pt;
	font-family: Arial, sans-serif;
	list-style-type: square
	           
}
ul.equipment {
	font-size: 10pt;
	font-family: Arial, sans-serif;
    list-style: square inside;
    margin: 0px;
	padding: 0px;
}

span.small {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

span.text {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#FFFF80
}

span.time {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-style:inset
}

.disabledtext {
	color: #888888
}

.dataTable a.link {
	font-size: 9pt;
}

.numeric {
	text-align: right
}

.error {
	font-size: 10pt;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #f2b8b5;
	color: black;
	padding-left: 10px
}

.message {
	font-size: 10pt;
	padding-bottom: 20px
}

table.flightLog td.logHead {
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, sans-serif;
}
table.flightLog {
	background-color: #eeeeee;
	width: 500px;
	margin-bottom: 20px;
}
table.flightLog td.type {
}
table.flightLog td.cost {
	text-align: right;
}
table.flightLog td.total {
	font-weight: bold
}
table.flightLog td.indent {
	padding-left: 20px
}
table.flightLog td.ul {
    border-bottom: 1px dashed;
}
table.flightLog td.space {
	height: 20px
}
table.flightLog tr.total td.cost {
    border-top: 1px dashed;
}
table.flightLog tr.total td {
	padding-top: 10px;
	font-weight: bold             
}
table.flightLog td.small {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

div.form caption {
	font-weight: bold;
	font-size: 12pt;
	font-family: Arial, sans-serif;
	text-align: left;
    margin: 0px 0px 20px;
}

div.news {
	margin-top: 10px
}
div.news div {
	display:table;
    border: 1px none gray;
    border-bottom-style: solid;
    margin-bottom:10px;
	margin-right:10px;
}

div.monospace select {
	font-family: monospace
}

div#logviewer form {
	margin: 10px
}
div#logviewer div {
	width: 640px;
	background-color: #eeeeee;
    border: thick double;
    margin-bottom: 10px;
}
div#logviewer #flights {
	width: 350px
}
div#logviewer #aircraft {
	width: 80px
}
div#logviewer #pilots {
	width: 170px
}

.maintenanceLog {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: black
}
.maintenanceLog table {
	margin-top: 20px;
	
	border-style: none;
	top: 110px;
	width: 620px;
	position: absolute;
}
.maintenanceLog table td.one {
	width: 490px;
}
.maintenanceLog table td.oneunderline {
	width: 490px;
	text-decoration:underline
}
.maintenanceLog table td.two {
	width: 130px;
	text-align: right;
	vertical-align: top;
}
.maintenanceLog #total {
	position:absolute;
	width: 115px;
	text-align: right;
	top:609px;
	left:510px;
}

div.invoiceInset {
	border-style: outset;
	float: right;
	text-align: center;
	color: black
}
div.invoiceInset img {
	border-style: none;
}

#menu .gold .bd {
	background-color : #fff3c6;
}
.yui-skin-sam .content .yui-dt td {
	text-align: right;
	}

.content a:link {color:#0000CC;}
.content a:visited {color:#990066}
.content a:active {color:#0000CC;}
/* .content a:hover {background-color: #ffffff;	color:#ff0000;}  */
.content a {text-decoration: none;}

.top a:link {	color:#66CCFF;}
.top a:visited {color:#66CCFF;}
.top a:active {color:#66CCFF;}
.top a:hover {background-color: #ffffff;	color:#ff0000;}
.top a {text-decoration:none;}

a { cursor: pointer; }

@media(max-width:767px){
    .bs3-form-label {
        text-align: left;
    }
}
@media(min-width:767px){
    .bs3-form-label {
        text-align: right;
    }
}

.vcenter i {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 3px;
    padding-left: 2px;
}

.btn-text-right {
    text-align: right;
    padding-right: 8px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.nowrap {
   white-space: nowrap;
}
